{% extends "base.html" %}

{% block content %}
<div class="box">
    <div class="container-fluid">
        <h2 class="text-center">Qui sommes nous ?</h2>
        <p class="text-center">La communauté Python Sénégal (PySenegal) regroupe tous les utilisateurs du langage
            de programmation Python au Sénégal.<br>
            Nous sommes une communauté de programmeurs expérimentés, intermédiaires et même débutants, mais nous avons
            tous en commun l’amour de Python. <br>
            La communauté est ouverte à tous et à tous les niveaux.
        </p>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Créer un écosystème PySn.</h4>
                    </div>

                    <div class="text">
                        <span>Nous avons créé cette communauté afin de rendre ce puissant langage accessible partout et
                            pour tous..</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fa fa-code-fork fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Contribuer au projet Python.</h4>
                    </div>

                    <div class="text">
                        <span>Etre un utilisateur c’est bon mais nous voulons aller plus loin, contribuer au projet
                            aussi créer de nouvelle librairie .
                            .</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Organiser des événements annuels</h4>
                    </div>

                    <div class="text">
                        <span>Pycon est le nom des congrès sur Python, nous voulons reproduire la même chose chez
                            nous.</span>
                    </div>



                </div>
            </div>






        </div>
    </div>
</div>

{% endblock %}