{% extends "base.html" %}

{% block content %}

<div class="container-fluid coc">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
            <h2 class="text-center">Code de conduite de la communauté PySn</h2>
            <p>
                La communauté PySn est composée de membres du monde entier possédant un ensemble diversifié de
                compétences, de personnalités et d'expériences. C’est à travers ces différences que notre communauté
                connaît de grands succès et une croissance continue. Lorsque vous travaillez avec des membres de la
                communauté, nous vous encourageons à suivre ces instructions, qui orientent nos interactions et
                s'efforcent de garder Python au sein d'une communauté positive, performante et en croissance.
            </p>
            <small>Un membre de la communauté Python est:</small>
            <h4>Ouverture</h4>
            <p>Les membres de la communauté sont ouverts à la collaboration, que ce soit sur des PEP, des correctifs,
                des problèmes ou autre. Nous sommes réceptifs aux commentaires et critiques constructifs, car les
                expériences et les compétences des autres membres contribuent à l'ensemble de nos efforts. Nous
                acceptons tous ceux qui souhaitent participer à nos activités, créant un environnement dans lequel tout
                le monde peut participer et où tout le monde peut faire la différence.</p>
            <h4>Prévenant</h4>
            <p>Les membres de la communauté sont attentionnés envers leurs pairs - les autres utilisateurs de Python.
                Nous réfléchissons lorsque nous abordons les efforts des autres, en gardant à l'esprit que souvent le
                travail a été effectué simplement pour le bien de la communauté. Nous sommes attentifs dans nos
                communications, que ce soit en personne ou en ligne, et nous faisons preuve de tact lorsque nous
                abordons des points de vue divergents.

            </p>
            <h4>Respectueux</h4>
            <p>Les membres de la communauté sont respectueux. Nous respectons les autres, leurs positions, leurs
                compétences, leurs engagements et leurs efforts. Nous respectons les efforts de bénévoles qui imprègnent
                la communauté Python. Nous respectons les processus définis dans la communauté et travaillons avec eux.
                Lorsque nous ne sommes pas d’accord, nous abordons nos problèmes avec courtoisie.</p>
            <p>Dans l'ensemble, nous sommes bons les uns envers les autres. Nous contribuons à cette communauté non pas
                parce que nous devons le faire, mais parce que nous le voulons. Si nous nous en souvenons, ces
                directives viendront naturellement.</p>
            <p>
                <strong>Remarque :</strong>

                Ce document a été approuvé par les membres de Python Software Foundation lors du vote qui s'est terminé
                le 19 avril 2013. La version canonique de ce texte se trouve sur
                https://hg.python.org/coc/rev/689163936c9d
            </p>
        </div>
    </div>
</div>

{% endblock %}