{% extends "base.html" %}

{% block content %}
{% include 'partials/_header.html' %}

<section>
  <div class="container-fluid">


    <div class="row mbr-justify-content-center">

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-info-circle fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">A <span>propos</span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">La communauté PySn regroupe tous
              les utilisateurs du langage de programmation Python au Sénégal. <a href="#" class="more-info mt-2">Voir
                plus</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-bolt fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Code
              <span>de conduite</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">La communauté PySn est composée de membres du senegal
              possédant un ensemble diversifié de compétences, de personnalités et d'expériences. <a href="#"
                class="more-info mt-2">Voir plus</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              <span>Events</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum <a href="#" class="more-info mt-2">Voir plus</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-laptop fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Ressources <span></span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum <a href="#" class="more-info mt-2">Voir plus</a></p>
          </div>
        </div>
      </div>




    </div>

  </div>

</section>


{% endblock  %}