{% extends "base.html" %}

{% block content %}
{% include 'partials/_header.html' %}
<div class="row">
  <div class="col-md-6">
    <div class="posts mt-2 p-2">
      <h2 class="section-title">Lorem ipsum dolor sit amet.</h2>
      <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos quis iure omnis
        veniam
        tenetur repellendus magnam ipsa velit hic? <button class="btn btn-default section-btn">Voir plus</button></p>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="section-title">Lorem ipsum dolor sit amet.</h2>
    <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos quis iure omnis veniam
      tenetur repellendus magnam ipsa velit hic? <button class="btn btn-default section-btn">Voir plus</button></p>

  </div>
  <div class="col-md-6">
    <h2 class="section-title">Lorem ipsum dolor sit amet.</h2>
    <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos quis iure omnis veniam
      tenetur repellendus magnam ipsa velit hic? <button class="btn btn-default section-btn">Voir plus</button></p>

  </div>
  <div class="col-md-6">
    <h2 class="section-title">Lorem ipsum dolor sit amet.</h2>
    <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos quis iure omnis veniam
      tenetur repellendus magnam ipsa velit hic? <button class="btn btn-default section-btn">Voir plus</button></p>

  </div>
</div>
{% endblock  %}