<header id="home-section" class="text-center">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 d-lg-block">
            <h1 class="title">La communauté <strong> <span class="special-text">Python</span></strong> au Senegal
              <span class="special-text">(PySn)</span></h1>
            <p class="description lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At dolorem consectetur
              eveniet ipsa iste. Velit veniam sint natus numquam neque!</p>
            <h4 class="join-us-title">Nous rejoindre</h4>
            <div class="join-us">
              <button href="#" class="py-btn py-btn-success mr-3">Slack</button> <span class="or">Ou</span><button
                href="#" class="py-btn py-btn-info ml-3">Email</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>