<header id="home-section" class="text-center">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 d-lg-block">
            <h1 class="title">La communauté <strong> <span class="special-text">Python</span></strong> au Senegal
              <span class="special-text">(PySn)</span></h1>
            <p class="description lead">La communauté PySn regroupe tous les utilisateurs du langage de programmation
              Python au Sénégal.</p>
            <h4 class="join-us-title">Nous rejoindre</h4>
            <div class="join-us">
              <a href="http://bit.ly/2QlyBIw" target="_blank" class="py-btn py-btn-success mr-3">Slack</a> <span
                class="or">Ou</span><a href="https://t.me/joinchat/HVeD7xfBGTz9llSpfXqA3g" target="_blank"
                class="py-btn py-btn-info ml-3">Telegram</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>