<div class="container-fluid">
    <div id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="h2">Nous rejoindre</h1>
                    <ul class="mbm_social">
                        <li><a class="social-facebook" href="#">
                                <i class="fa fa-facebook"><small>facebook</small></i>

                                <div class="tooltip"><span>facebook</span></div>
                            </a>
                        </li>
                        <li><a class="social-twitter" href="#">
                                <i class="fa fa-twitter"><small>Twitter</small></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li><a class="social-slack" href="#">
                                <i class="fa fa-slack"><small>Slack </small></i>
                                <div class="tooltip"><span>Slack</span></div>
                            </a>
                        </li>
                        <li><a class="social-telegram" href="#">
                                <i class="fa  fa-telegram"><small>Telegram</small></i>
                                <div class="tooltip"><span>Telegram</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>