/* css genral rules */
body {
  background-color: rgba(0, 0, 0, .05);
}

img {
  width: 100%;
}

.logo {
  width: 75px;
}

/* .navbar {
  opacity: 0.9;
  text-transform: uppercase;
} */

.navbar {
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#home-section {
  color: #fff;
}

.py-btn {
  color: white;
  font-size: 1.3em;
  background-color: transparent;
  padding: 15px 50px;
  border: 1px solid #ffde57;
  border-radius: 10px;
  transition: 0.7s;
}

#home-section {
  background: url("../img/bg2.jpg") no-repeat;
  background-size: cover;
  min-height: 700px;
  background-attachment: fixed;
}

#home-section .dark-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  min-height: 700px;
  top: 100px;
  left: 0;
  width: 100%;
}

#home-section .home-inner {
  padding-top: 150px;
}



/* header */
.join-us-title {
  padding: 0;
  padding-bottom: 1rem;
}


/* posts */
.posts {
  box-shadow: 0 2px 4px rgba(3, 27, 78, .1);
  background: #fff;
}


/* Framework */
.special-text {
  color: #ffde57;
  font-weight: bold;
}

a,
a:hover {
  text-decoration: none;
}


/* Mobile */

@media (max-width: 991px) {
  .py-btn {
    padding: 10px 35px;
  }

  .dark-overlay {
    top: unset !important;
    position: inherit !important;
  }
}

@media (max-width: 768px) {
  .py-btn {
    padding: 10px 35px;
  }

  .dark-overlay {
    top: unset !important;
    position: inherit !important;
  }
}

@media (max-width: 576px) {
  .py-btn {
    padding: 10px 35px;
  }

  .dark-overlay {
    top: unset !important;
    position: inherit !important;
  }
}