{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
{% if posts %}

<div class="col-md-8 offset-md-2 mt-2">
  <h1>Blog Posts</h1>
  <hr>
  {% for post in posts %}
  <div class="posts p-2 mb-3">
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
      {{ post.created_on.date }} |&nbsp;
      Categories:&nbsp;
      {% for category in post.categories.all %}
      <a href="{% url 'blog_category' category.name %}">
        {{ category.name }}
      </a>&nbsp;
      {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="text-center">We have no post</p>
{% endif %}
{% endblock %}